$mainFont: Verdana, Geneva, Tahoma, sans-serif;

form {
  display: inline;
  width: -moz-fit-content;
  /* width: fit-content; */
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 5px 5px 10px #686f7a;
  background-color: #1448dc2e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* float: left; */
  /* left: -306px; */
  width: 450px;

  .methods {
    margin: 20px 0px;
    span {
      cursor: pointer;
      padding: 0.75rem 0.75rem;
      border-radius: 10px;
      margin: 0px 5px;
      color: white;
    }

    #get {
      background-color: blue;
    }

    #post {
      background-color: green;
    }

    #put {
      background-color: rgb(184, 184, 1);
    }

    #delete {
      background-color: red;
    }

    #clicked-button {
      background-color: white;
      border: 3px solid black;
      color: black;
    }

    button {
      background-color: #a90000;
      padding: 0.75rem 0.75rem;
      width: 100px;
      border-radius: 7px;
      border: none;
      color: white;
      cursor: pointer;
      margin-left: 186px;
      margin-top: 30px;
  
    }
  }

  textarea {
    width: 380px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    border-radius: 7px;
    border: none;
    position: relative;
    left: 35px;

    &::placeholder {
      color: white;
    }
  }

  label {
    display: flex;
    margin: 1rem auto;

    &.url-label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      align-items: center;

      input {
        width: 380px;
        height: 2.5rem;
        background-color: rgba(0, 0, 0, 0.493);
        color: white;
        border-radius: 7px;
        border: none;

        &::placeholder {
          color: white;
        }
      }
    }
  }
}



